span{
	text-align: center;
	border: dashed; red;
	background-color: green;
	font.size:20px cursive;
	
}
body{
background: url(fondopantalla.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
p{
	font-size: 20px;	
	text-align: center;
}